@import url(https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Lato|Oswald|Slabo+27px);

/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

/* Styles */
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  min-width: 230px;
  max-width: 550px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

input, select, textarea {
  font-size: 14px;
}

.section {
	padding-top: 12px;
	padding-bottom: 12px;
}

.font-selector ul {
  padding-left: 0;
  list-style-type: none;
}

.edit-preview-text textarea {
  display: block;
  width: 100%;
  height: 4em;
}

.preview-text {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #eee;
}

h2 {
	color: $vin-blue;
}
